<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Delivery Challan{% endtrans %}</title>
  <style media="screen">
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table th {
      font-size: 85%;
  }
  .fixed-table tbody {
      display:block;
      height: calc(100vh - 26.5em);
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.6em )
  }

  .fixed-edit-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-edit-table th {
      font-size: 85%;
  }
  .fixed-edit-table tbody {
      display:block;
      height: 160px;
      overflow-y:scroll;
  }

  .fixed-edit-table thead ,.fixed-edit-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-edit-table thead {
      width: calc( 100% - 0.6em )
  }
  #purchaseorder_product_table tbody {
  display:block;
  height: calc(100vh - 32.5em);
  overflow-y:scroll;
  }
  #popanel {
  display:block;
  height: calc(100vh - 22em);
  }
  #salesorder_product_table tbody {
  display:block;
  height: calc(100vh - 32.5em);
  overflow-y:scroll;
  }
  }
  </style>
</head>
<body>
  <div class="container-fluid row" >
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="deliverychallan_record" role="tab" data-toggle="tab" accesskey="1">{% trans %}Delivery In{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="deliverychallan_create" role="tab" data-toggle="tab" accesskey="2">{% trans %}Delivery Out{% endtrans %}</a></li>
      {%if numberofproducts > 0 %}
      <li role="presentation"><a href="" id="deliverychallan_edit" role="tab" data-toggle="tab" accesskey="3">{% trans %}View Delivery Note{% endtrans %}</a></li>
    {%endif%}
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="deliverychallan_div">

      </div>
    </div>
<input id="selectedcustsup" type="hidden">

  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/deliverychallan.js')}}"></script>
</body>
</html>
