<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Stock Report{% endtrans %}</title>

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #latable td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #latable th {
	 font-size: 85%;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }

     #latable tbody {
	 display:block;
	 height: calc(100vh - 18em);
	 overflow-y:scroll;
     }
     #latable thead,#latable tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #latable thead {
	 width: calc( 100% - 0.65em );
     }
     .bigwrap {
	 width:20%;
     }
     .smwrap {
	 width:9%;
     }
     .qtywrap {
	 width:8%
     }
     .srnowrap {
	 width:6%;
     }
     .modaltext {
	 font-size: 0.8em;
     }

     .table-borderless > tbody > tr > td,
     .table-borderless > tbody > tr > th,
     .table-borderless > tfoot > tr > td,
     .table-borderless > tfoot > tr > th,
     .table-borderless > thead > tr > td,
     .table-borderless > thead > tr > th {
	 border: none;
     }

     #transfernote_product_table td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #transfernote_product_table th {
	 font-size: 85%;
     }

     #transfernote_product_table tbody {
	 display:block;
	 height: 155px;
	 overflow-y:scroll;
     }
     #transfernote_product_table thead,#transfernote_product_table tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #transfernote_product_table thead {
	 width: calc( 100% - 0.65em );
     }

    </style>
  </head>
  <body>
    <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <strong id="startdate" data-startdate="{{startdate}}">{{startdate}}</strong> {% trans %}to{% endtrans %} <strong id="enddate" data-enddate="{{enddate}}">{{enddate}}</strong></span>
    <span style="margin-left: 46.4%;"><strong>{% trans %}List of Transfer Notes{% endtrans %}</strong></span>
    {% if godownname!="" and godownname!="" %}
      <input type="text" id="godownselect" value="1" hidden></input>
      <span style="margin:auto; display:table; width: 100%;text-align: center"><i>{% trans %}Name of Godown{% endtrans %}: </i><strong id="goid" data-goid="{{goid}}">{{godownname}}</strong> <i>{% trans %}Godown Address{% endtrans %}: </i><strong>{{godownaddress}}</strong></span>
    {% else %}
      <input type="text" id="godownselect" value="0" hidden></input>
    {% endif %}
    <br>
    <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px; display:none" id="laclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
    <table id="latable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true" >
      <thead class="bg-primary">
	<tr>
          <th class="srnowrap text-center" >
            {% trans %}Sr. No.{% endtrans %}
          </th>
          <th class="smwrap text-center" >
            {% trans %}TN No.{% endtrans %}
          </th>
          <th class="smwrap text-center" >
	    {% trans %}Date{% endtrans %}
          </th>
          <th class="bigwrap text-center" >
	    {% trans %}Dispatched From{% endtrans %}
          </th>
          <th class="bigwrap text-center" >
	    {% trans %}To be Delivered At{% endtrans %}
          </th>
          <th class="bigwrap text-center" >
	    {% trans %}Products{% endtrans %}
          </th>
          <th class="qtywrap text-right" >
	    {% trans %}Quantity{% endtrans %}
          </th>
	  <th class="srnowrap text-center" >
	    {% trans %}Status{% endtrans %}
          </th>
	</tr>
      </thead>
      <tbody>
	{% for transfernote in transfernotes %}
	  <tr data-transfernoteid="{{transfernote["transfernoteid"]}}">
	    <td class="srnowrap text-center">{{transfernote["srno"]}}</td>
	    <td class="smwrap text-center"><a class="libgname" href="">{{transfernote["transfernoteno"]}}</a></td>
	    <td class="smwrap text-center">{{transfernote["transfernotedate"]}}</td>
	    <td class="bigwrap text-left">{{transfernote["fromgodown"]}}</td>
	    <td class="bigwrap text-left">{{transfernote["togodown"]}}</td>
	    <td class="bigwrap text-left">{{transfernote["productqty"][0]["productdesc"]}}{% if transfernote["numberofproducts"] > 1 %} + {{transfernote["numberofproducts"] - 1}}{% endif %}</td>
	    <td class="qtywrap text-right">{{transfernote["productqty"][0]["quantity"]}} {{transfernote["productqty"][0]["uom"]}}</td>
	    {% if transfernote["receivedflag"] %}
	      <td class="srnowrap text-center text-success">{% trans %}Received{% endtrans %}</td>
	    {% else %}
	      <td class="srnowrap text-center text-danger">{% trans %}Pending{% endtrans %}</td>
	    {% endif %}
	  </tr>
	{% endfor %}
      </tbody>
    </table>
    <span style="margin:auto; display:table;">
      <nbsp><nbsp>
	<button type="button" class="btn btn-sm btn-warning" id="viewanotherlist" accesskey="w"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}Vie<u>w</u> Another List{% endtrans %}</button>
	<button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
	<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
    </span>
    <div id="tnview" class="modal" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
	<div class="modal-dialog modal-lg vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" style="margin-left:15px;">&times;</button>
              <h4 class="modal-title">{% trans %}View Transfer Note{% endtrans %}</h4>
            </div>
            <div class="modal-body">
	      <div class="row">
		<div id="tnload"></div>
	      </div>
            </div>
          </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listoftransfernotes.js')}}"></script>
  </body>
</html>
