<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}List of Godowns{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 65%;
  	color: black;
  }

  th {
  	font-size: 70%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }
  .calign{
    text-align:center;
  }
  .lalign{
    text-align:left;
  }
  .dtwrap{
    width :5%
     }
 .smwrap{
  width:3%
 }

 .lngwrap{
  width:16%
 }
 .mdwrap{
  width:8%
 }

  </style>
</head>
<body>
  <span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}List of Godowns{% endtrans %}</strong></span>

  <div class="table-responsive printorgdetails">
    <table class="table table-condensed table-bordered table-striped shadow">
      <thead class="bg-primary">
        <tr class="visible-print">
          <th colspan="7" style="text-align:center; font-size:80%;">
            {% trans %}List of Godowns{% endtrans %}
          </th>
        </tr>
        <tr>
          <th class="smwrap lalign">
            {% trans %}Sr.No.{% endtrans %}
          </th>
          <th class="mdwrap lalign">
            {% trans %}Godown Name{% endtrans %}
          </th>
          <th class="lngwrap lalign">
            {% trans %}Address{% endtrans %}
          </th>
          <th class="dtwrap lalign">
            {% trans %}Contact Name{% endtrans %}
          </th>
          <th class="dtwrap lalign">
            {% trans %}Contact Number{% endtrans %}
          </th>

          <th class="smwrap lalign">
            {% trans %}Status{% endtrans %}
          </th>
        </tr>
      </thead>
      <tbody>

        {% for record in gkresult %}
        <tr	value="{{record["accountcode"]}}">
          <td class="smwrap lalign" >
            {{record["srno"]}}
          </td>
          <td class="mdwrap lalign">
            {{record["godownname"]}}
          </td>
          <td class="lngwrap lalign" >
            {{record["godownaddress"]}}, {{record["godownstate"]}}
          </td>
          <td class="dtwrap lalign" >
            {{record["godowncontactname"]}}
          </td>
          <td class="dtwrap lalign" >
            {{record["godowncontact"]}}
          </td>
          <td class="smwrap lalign">
            {{record["godownstatus"]}}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <span style="margin:auto; display:table;">
  		<button type="button" class="btn btn-sm btn-danger hidden-print" id="loaback" accesskey="b">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> <u>B</u>ack{% endtrans %}</button>
  		<button type="button" class="btn btn-sm btn-info hidden-print" id="loaprint" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>
  	</span>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      oninvoice = 0;
      $("title").html("GNUKhata")
      $("#loaprint").click(function(event) {
        window.print();
      });
      $("#loaback").click(function(event) {
        $("#listofgodowns").click();
      });
    });
  </script>

</body>
</html>
